﻿@model IEnumerable<AgroTech1._4.Models.viATNodesSensor>


@{
    ViewBag.Title = "IndexNodesSensors";
}

<h2>All connections</h2>

<p>
    @Html.ActionLink("New", "Create", "NodesSensorsConn", null, new { @class = "btn btn-outline-success" })
</p>
<table class="table">
    <tr>
        <th>
            Node name
        </th>
        <th>
            Node type
        </th>
        <th>
            Sensor type
        </th>
        <th>
         
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.node_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.node_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sensor_type)
        </td>
        <td class="align-middle">
           
            @Html.ActionLink("Delete", "Delete", "NodesSensorsConn", new { id = item.id }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
    }

</table>

<hr />
<div class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Back to List", "IndexNodes", "Nodes")
</div>

