﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container-fullwidth">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">AgroTech 1.4</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "IndexAllData" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("IndexAllData", "AllData")">All Data</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "IndexNodes" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("IndexNodes", "Nodes")">Nodes</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "IndexPlants" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("IndexPlants", "Plants")">Plants</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "IndexSensors" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("IndexSensors", "Sensors")">Sensors</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <div class="footer navbar-fixed-bottom ">
        <p class="small text-center">&copy;Engineering @DateTime.Now.Year  -  <a href="https://www.eng.it"><img src="~/Content/img/eng_footer_logo.png" /></a></p>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>