﻿@model AgroTech1._4.Models.tblATNodesSensorsConnection
@{
    ViewBag.Title = "Create Node-Sensor connection";
}
<h2>Create Node-Sensor Connection</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label">
                    Node id
                </div>
                <div>
                    @Html.DropDownList("node_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.node_id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    Sensor id
                </div>
                <div>
                    @Html.DropDownList("sensor_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.sensor_id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-outline-success" />
                </div>
                <hr />
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Back to List", "IndexNodesSensors", "NodesSensors")
                </div>
            </div>
        </div>
    </div>
</div>
}

