﻿@model AgroTech1._4.Models.tblATNodesSensorsConnection

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Node name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblATNode.node_name)
        </dd>

        <dt>
            Sensor type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblATSensor.sensor_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "IndexNodesSensors", "NodesSensors")
            </div>
        </div>
    }
</div>
