﻿@model AgroTech1._4.Models.tblATNode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <div class="control-label">
                Node name
            </div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.node_name)
        </dd>

        <dt>
            <div class="control-label">
                Node type
            </div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.node_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <hr />
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Back to List", "IndexNodes")
        </div>
    </div>
    }
</div>
