﻿@model IEnumerable<AgroTech1._4.Models.tblATNode>

@{
    ViewBag.Title = "Nodes";
}

<h2>Nodes</h2>

<p>
    @Html.ActionLink("New", "Create", null, new { @class = "btn btn-outline-success" })
</p>
<table class="table">
    <tr>
        <th>
            Node name
        </th>
        <th>
            Node type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.node_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.node_type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.node_id }, new { @class = "btn btn-outline-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.node_id }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add node sensor connection", "IndexNodesSensors", "NodesSensors")
    </p>
