﻿@model IEnumerable<AgroTech1._4.Models.viATAllNodesData>

@{
    ViewBag.Title = "All data";
}

<h2>All data</h2>

<table class="table">
    <tr>
        <th>
            Node
        </th>
        <th>
            Sensor
        </th>
        <th>
            Average value
        </th>
        <th>
            Measuring unit
        </th>
        <th>
            Start time
        </th>
        <th>
            End time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.node)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sensor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.measuring_unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_time)
        </td>
    </tr>
}

</table>
