﻿@model AgroTech1._4.Models.tblATSensor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.sensor_id)

            <div class="form-group">
                <div class="control-label">
                    Sensor type
                </div>
                <div>
                    @Html.EditorFor(model => model.sensor_type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sensor_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label">
                    Measuring unit
                </div>
                <div>
                    @Html.EditorFor(model => model.measuring_unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.measuring_unit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-outline-success btn-block" />
                </div>
                <hr />
                <div>
                    @Html.ActionLink("Back to List", "IndexSensors", null, new { @class = "btn btn-outline-info btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>
        }

 

