﻿@model IEnumerable<AgroTech1._4.Models.tblATSensor>

@{
    ViewBag.Title = "Sensors";
}

<h2>Sensors</h2>

<p>
    @Html.ActionLink("New", "Create", null, new { @class = "btn btn-outline-success" })
</p>
<table class="table">
    <tr>
        <th>
            Sensor type
        </th>
        <th>
            Measuring unit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sensor_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.measuring_unit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sensor_id }, new { @class = "btn btn-outline-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.sensor_id }, new { @class = "btn btn-outline-danger" })
        </td>
    </tr>
}

</table>
