﻿@model AgroTech1._4.Models.tblATPlant
@{
    ViewBag.Title = "Create Plant";
}
<h2>Create</h2>

@using (Html.BeginForm("Create", "Plants", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label">
                    Plant name
                </div>
                <div>
                    @Html.EditorFor(model => model.plant_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.plant_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    Node id
                </div>
                <div >
                    @Html.DropDownList("node_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.node_id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    Image
                </div>
                <div>

                    @Html.TextBoxFor(m => m.img, new { type = "file", @class = "btn btn-info" })
                    @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">
                    Details
                </div>
                <div>
                    @Html.EditorFor(model => model.details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.details, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Create" class="btn btn-outline-success btn-block" />
                </div>
                <hr />
                <div>
                    @Html.ActionLink("Back to List", "IndexPlants", null, new { @class = "btn btn-outline-info btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>
}

