﻿@model AgroTech1._4.Models.tblATPlant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <div class="control-label">
                Plant name
            </div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plant_name)
        </dd>

        <dt>
            <div class="control-label">
                Image
            </div>
        </dt>
            @if (Model.img != null)
            {
                var base64 = Convert.ToBase64String(Model.img);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" class="img-responsive" style="height: auto; width: 200px; max-height: 200px" />
            }
            else
            {
                <img src="~/Content/img/plant.png" class="img-responsive" style="height: auto; width: 200px; max-height: 200px" />
            }
        </dd>

        <dt>
            <div class="control-label">
                Details
            </div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

        <dt>
            <div class="control-label">
                Node name
            </div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblATNode.node_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <hr />
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Back to List", "IndexPlants")
        </div>
    </div>
    }
</div>
