﻿@model AgroTech1._4.Models.tblATPlant

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Plants", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.plant_id)

                <div class="form-group">
                    <div class="control-label">
                        Plant name
                    </div>
                    <div>
                        @Html.EditorFor(model => model.plant_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.plant_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label">
                        Node id
                    </div>
                    <div>
                        @Html.DropDownList("node_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.node_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label">
                        Image
                    </div>
                    <div class="text-center">
                        @if (Model.img != null)
                        {
                            var base64 = Convert.ToBase64String(Model.img);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" class="img-responsive" style="height: auto; width: 200px; max-height: 200px" />
                        }
                        else
                        {
                            <img src="~/Content/img/plant.png" class="img-responsive" style="height: auto; width: 200px; max-height: 200px" />
                        }
                    </div>
                    <br />
                    <div>
                        @Html.TextBoxFor(m => m.img, new { type = "file", @class = "btn btn-info", Value=Model.img})
                        @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label">
                        Details
                    </div>
                    <div>
                        @Html.EditorFor(model => model.details, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.details, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Save" class="btn btn-outline-success btn-block" />
                    </div>
                    <hr />
                    <div>
                        @Html.ActionLink("Back to List", "IndexPlants", null, new { @class = "btn btn-outline-info btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}



