﻿@model IEnumerable<AgroTech1._4.Models.tblATPlant>

@{
    ViewBag.Title = "Plants";
}

<h2>Plants</h2>

<p>
    @Html.ActionLink("New", "Create", null, new { @class = "btn btn-outline-success" })
</p>
<table class="table" style="height: 100%">
    <tr>
        <th>
            Plant name
        </th>
        <th>
            Image
        </th>
        <th>
            Details
        </th>
        <th>
            Node name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.plant_name)
            </td>
            <td class="align-middle">
                @if (item.img != null)
                {
                    var base64 = Convert.ToBase64String(item.img);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" class="img-responsive"  style="height: auto; width: 200px; max-height: 200px" />
                }
                else{ 
                    <img src="~/Content/img/plant.png" class="img-responsive"  style="height: auto; width: 200px; max-height: 200px" />
                }
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.tblATNode.node_name)
            </td>
            <td class="align-middle">
                @Html.ActionLink("Edit", "Edit", new { id = item.plant_id }, new { @class = "btn btn-outline-info" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.plant_id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
